* {
  padding: 0;
  margin: 0;
}

div#view {
  position: relative;
  width: 100vw;
  height: 100vh;
}

div#view .info {
  position: absolute;
  margin: 10px;
}

div#view .info p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-style: italic;
}

div#view .info button {
  background-color: transparent;
  border: 2px solid rgb(209, 213, 219);
  border-radius: 1.5rem;
  color: rgb(209, 213, 219);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  margin: 0 0 0.5em 0;
}

div#view .info button:hover {
  background-color: #ffffff18;
}

div#view canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  gap: 5px;
  position: fixed;
  bottom: 6px;
  right: 6px;
}

footer p {
  font-family: sans-serif;
  font-size: small;
  color: white;
}

footer p a {
  text-decoration: underline;
  font-family: sans-serif;
  font-size: small;
  color: white;
}