* {
  padding: 0;
  margin: 0;
}

div#view {
  position: relative;
  width: 100vw;
  height: 100vh;
}

div#view .info {
  position: absolute;
}

div#view .info p {
  color: white;
  font-size: 1.5em;
  font-style: italic;
}

div#view canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}